<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{DEFAULT}][%3marker][%5p][%t][%c{1}] - %m%n%ex" />
		</Console>
		
		<RollingFile name="ROLLING" fileName="async.log"  
			filePattern="async.log-%i" immediateFlush="false"
			append="true"> <!--  for backup --> 
			<PatternLayout>
				<Pattern>[%d{DEFAULT}][%3marker][%5p][%t][%c{1}] - %m%n%ex</Pattern>
			</PatternLayout>
			
			
			<Policies>
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
		
			<!-- fileIndex="min" means async.log will always be latest
				and async.log-max will be oldest.	
			-->
			
			<!-- fileIndex="max" means async.log-max will always be latest
				and async.log will be oldest
			-->
			
			<DefaultRolloverStrategy fileIndex="min" max="100"
				compressionLevel="1" /> <!--  max files -->
			<!-- 1 means no compression -->
		</RollingFile>

	</Appenders>
	<Loggers>	
			
		<asyncRoot level="INFO"> <!-- for System.out -->
			<AppenderRef ref="Console" />
		</asyncRoot>
		
		<asyncLogger name="project.nhdp" level="INFO"
			additivity="true" includeLocation="false">
			<AppenderRef ref="ROLLING" /> 
		</asyncLogger>
	</Loggers>
</Configuration>